.cake-section{
  margin:80px auto;
  text-align:center;
  color:white;
}

.cake-section h2{
  margin-bottom:30px;
  font-size:38px;
}

.cake{
  width:240px;
  margin:auto;
  cursor:pointer;
}

.candle{
  width:12px;
  height:50px;
  background:white;
  margin:auto;
  position:relative;
}

.flame{
  width:20px;
  height:20px;
  background:gold;
  border-radius:50%;
  position:absolute;
  top:-20px;
  left:-4px;
  animation:flicker .5s infinite alternate;
}

.cake-body{
  width:240px;
  height:140px;
  background:#ff7ba8;
  border-radius:18px;
  margin-top:6px;
  position:relative;
  overflow:hidden;
}

.icing{
  height:30px;
  background:#fff;
  border-radius:0 0 20px 20px;
}

.sprinkles span{
  position:absolute;
  width:8px;
  height:18px;
  background:#fff;
  border-radius:20px;
}

.sprinkles span:nth-child(1){
  left:30px;
  top:55px;
}

.sprinkles span:nth-child(2){
  left:70px;
  top:85px;
}

.sprinkles span:nth-child(3){
  left:120px;
  top:60px;
}

.sprinkles span:nth-child(4){
  left:170px;
  top:90px;
}

.sprinkles span:nth-child(5){
  left:205px;
  top:55px;
}

@keyframes flicker{
  from{
    transform:scale(1);
  }
  to{
    transform:scale(1.25);
  }
}